/* globals.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f0f2f5;
}

button {
  cursor: pointer;
  border: none;
}

input {
  font-size: 14px;
}


.tabs-container {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.tabs-header {
  display: flex;
  border-bottom: 2px solid #ccc;
}

.tab {
  flex: 1;
  padding: 10px;
  cursor: pointer;
  background: #f4f4f4;
  border: none;
  outline: none;
  text-align: center;
  transition: background 0.2s;
}

.tab:hover {
  background: #e0e0e0;
}

.tab.active {
  background: #fff;
  border-bottom: 2px solid #007bff;
  font-weight: bold;
}

.tabs-content {
  padding: 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
}


/* Purple Button */
.purpleButton {
  background-color: #7c2ea0;
  color: white;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  cursor: pointer;
}

/* Green Button */
.greenButton {
  background-color: #388e3c;
  color: white;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  cursor: pointer;
}

/* Orange Button */
.orangeButton {
  background-color: #f98c39;
  color: white;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
}

/* Grey Button */
.greyButton {
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  background-color: #ccc;
  cursor: pointer;
}

.redButton {
  padding: 0.6rem 0.9rem;
  border-radius: 4px;
  position: "absolute";
  top: "1rem";
  right: "1rem";
  background-color: #f98c39;
  color: white;
  padding: "0.5rem 1rem";
  border-radius: "6px";
  cursor: "pointer";
}